*.sublime-*

# Exclude these files from the git repo
wp-content/backup/*
wp-content/cache/*
wp-content/upgrade/*
wp-content/uploads/*
sitemap.*
wp-config.php
sftp-config.json
*.sublime-*
compass_app_log.txt
.sass-cache/*

# Hidden system files
*.DS_Store
*[Tt]humbs.db
*.Trashes

# Include these files in previously blocked directories
!wp-content/uploads/.htaccess